span {
  white-space: pre;
}

.fillParent {
  width: 100%;
}

textarea {
  height: 600px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

span, textarea {
  font: 20px consolas;
}

button.debugger {
  width: 20%;
}

button {
  margin-bottom: 10px;
  box-shadow: none;
  padding: 5px 10px;
  height: 40px;
}

button:hover {
  background-color: #ccc;
  cursor: pointer;
  box-shadow: none;
}
